on: [push, pull_request]
jobs:
  build-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
      - name: Restore tools
        run: dotnet tool restore
      - name: Run Build
        run: dotnet cake --target Build --ref ${{ github.ref }} --buildNum ${{ github.run_number }}
      - name: Run Test
        uses: coactions/setup-xvfb@v1
        with:
          run: dotnet cake --target Test --ref ${{ github.ref }} --buildNum ${{ github.run_number }}
      - name: Run Publish
        run: dotnet cake --target Publish --ref ${{ github.ref }} --buildNum ${{ github.run_number }}
        env:
          NUGET_KEY: ${{ secrets.NUGET_KEY }}
          BAGET_KEY: ${{ secrets.BAGET_KEY }}
